<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.comp3074_assignment_2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Conference Application"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GeneralSchedule" />
        <activity android:name=".MenuPage" />
        <activity android:name=".MySchedule" />
        <activity android:name=".Speakers" />
        <activity android:name=".Maps" />
        <activity android:name=".Attendees" />
        <activity android:name=".Sponsors" />
        <activity android:name=".Twitter"></activity>
    </application>

</manifest>